In [1]:
2+5

7

# Titulo de Editado

In [3]:
a = 7
b = 3
print(a+b)

10

## Carga de modulos

In [4]:
import numpy as np
import pandas as pd

In [7]:
s = pd.Series([1,3.5,5,7,9])

In [8]:
s

0    1.0
1    3.5
2    5.0
3    7.0
4    9.0
dtype: float64

In [9]:
pd?

In [10]:
pd.Series?

In [19]:
fechas = pd.date_range("20190101", periods=12, freq="3M")

In [20]:
fechas

DatetimeIndex(['2019-01-31', '2019-04-30', '2019-07-31', '2019-10-31',
               '2020-01-31', '2020-04-30', '2020-07-31', '2020-10-31',
               '2021-01-31', '2021-04-30', '2021-07-31', '2021-10-31'],
              dtype='datetime64[ns]', freq='3M')

In [18]:
pd.date_range?

In [21]:
df = pd.DataFrame(np.random.rand(12, 4), index=fechas, columns=list("ABCD"))

In [22]:
df

                   A         B         C         D
2019-01-31  0.374970  0.759031  0.160152  0.112051
2019-04-30  0.837350  0.877086  0.683330  0.180622
2019-07-31  0.997075  0.253917  0.063648  0.040833
2019-10-31  0.132586  0.659760  0.021694  0.292635
2020-01-31  0.223210  0.338450  0.217184  0.215772
2020-04-30  0.375853  0.132109  0.133480  0.107114
2020-07-31  0.909720  0.775046  0.564939  0.432964
2020-10-31  0.926448  0.538118  0.180546  0.271537
2021-01-31  0.299051  0.685609  0.995982  0.920973
2021-04-30  0.586415  0.274245  0.554393  0.626379
2021-07-31  0.847583  0.591662  0.005576  0.230840
2021-10-31  0.990311  0.946543  0.582136  0.501697

In [24]:
df2 = pd.DataFrame(
    {
        "A": 32.0,
        "B": pd.Timestamp("20200319"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3]*4, dtype="int32"),
        "E": pd.Categorical(["Boca", "River","Racing","Independiente"]),
        "F": "basura",
    }
)

In [25]:
df2

      A          B    C  D              E       F
0  32.0 2020-03-19  1.0  3           Boca  basura
1  32.0 2020-03-19  1.0  3          River  basura
2  32.0 2020-03-19  1.0  3         Racing  basura
3  32.0 2020-03-19  1.0  3  Independiente  basura

In [26]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [27]:
"Hola "*5

'Hola Hola Hola Hola Hola '

In [30]:
df2?

In [32]:
df.head()

                   A         B         C         D
2019-01-31  0.374970  0.759031  0.160152  0.112051
2019-04-30  0.837350  0.877086  0.683330  0.180622
2019-07-31  0.997075  0.253917  0.063648  0.040833
2019-10-31  0.132586  0.659760  0.021694  0.292635
2020-01-31  0.223210  0.338450  0.217184  0.215772

In [33]:
df.tail(3)

                   A         B         C         D
2021-04-30  0.586415  0.274245  0.554393  0.626379
2021-07-31  0.847583  0.591662  0.005576  0.230840
2021-10-31  0.990311  0.946543  0.582136  0.501697